.SubBackgroundFramme {
  /* background-image: url("https://lemonpress.mn/assets/subscribe-cover.png"); */
  width: 1180px;
  height: 310px;

  border-radius: 6px;
  /* position: absolute; */
  overflow: hidden;
  background-color: aqua;
}

.SubBackgroundFramme img {
  width: 1180px;
  height: 310px;
}

.NewsLetterSub {
  position: relative;
  width: 1180px;
  height: 310px;
  margin: auto;
}

.SubBackgroundContentFramme {
  /* background-image: url("https://lemonpress.mn/assets/subscribe-cover.png"); */
  width: 1035px;
  height: 230px;
  background-color: aqua;
  position: absolute;
  top: 0;
  z-index: 10;
  margin: auto;
}
