.SubBackGroundFramme {
  background-image: url("https://lemonpress.mn/assets/subscribe-cover.png");
  width: 1180px;
  height: 310px;
  margin: auto;
  border-radius: 6px;
  position: absolute;
}

.SubBackGroundContentFramme {
  width: 1035px;
  height: 230px;
  background-color: aqua;
  position: relative;
  margin: auto;
}
