.SinglePostCard {
  width: 380px;
  height: 493px;
  background-image: url("https://dash-api.yld.mn/api/image/28b2bfc0-03b5-41d1-befc-0b4e483c81f8");
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.SinglePostCardText {
  width: 380px;
  padding: 50px 18px 13px 18px;
}

.SinglePostCard h2 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  font-style: normal;
}

.SinglePostCard h3 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 19px;
  font-weight: 700;
  line-height: 22.8px;
  font-style: normal;
}
