* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container-1 {
  background-color: aqua;
  width: 778px;
  height: 520px;
}

.BigCardImg img {
  width: 778px;
  height: 400px;
  object-fit: cover;
}
.BigCardText {
  width: 778px;
  height: 120px;
  padding: 13px 38px 13px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.BigCardText h3 {
  border-radius: 4px;
  color: rgb(0, 64, 212);
  font-size: 10px;
  font-weight: 700px;
  line-height: 14px;
}
.BigCardText h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700px;
  color: black;
}
.BigCardText h4 {
  color: rgb(114, 128, 143);
  font-size: 12px;
  font-weight: 400px;
  line-height: 16.8px;
}
